<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script type="text/javascript" src="js/scripts.min.js" charset="utf-8"></script>

    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />

    <style>
      #map {
        height: 100%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      body {
        background: url("/assets/china-pattern-design.jpg") repeat-x;
      }
    </style>
</head>

<body>

<!-- Leaflet photo: https://github.com/turban/Leaflet.Photo -->
<div id="map"></div>

<script>

  // Define list of photos to map

  var photo_list = [
    {filename: "R0010012.JPG", lat: 39.9457, long: 116.4112},
    {filename: "R0010024.JPG", lat: 39.9455, long: 116.4083},
    {filename: "R0010070.JPG", lat: 40.6766, long: 117.2415}
  ];


  // Initialize Leaflet map

  var map = new L.map('map', {
    center: new L.LatLng(39.9457, 116.4112),
    zoom: 10,
    maxZoom: 17
  });


  // Baselayer

  var baselayer = new L.StamenTileLayer("toner");

  baselayer.addTo(map);


  // Iterate over photos and add them to the "photoLayer" layer group, then add to map

  var photoLayer = new L.layerGroup();

  photo_list.forEach(function(photo) {
    var thumbnailIcon = L.icon({
        iconUrl: '/photos/' + photo.filename,
        iconSize:     [38, 95], // size of the icon
    });

    var marker = L.circle([photo.lat, photo.long], 500, {
      //color: 'red',
      //fillColor: '#f03',
      //fillOpacity: 0.5,
      icon: thumbnailIcon
    }).addEventListener("click", showPhotosphere);

    marker.filename = photo.filename;
    marker.addTo(photoLayer);
  });

  photoLayer.addTo(map);

  // Hide and show photosphere

  function showPhotosphere(e) {
    console.log(e);
    location.assign('/photosphere/' + e.target.filename);
  }

</script>


</body>
</html>
