<html>
<head>
    <title>{{Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- <script src="https://aframe.io/releases/0.2.0/aframe.min.js"></script> -->
    <script type="text/javascript" src="/node_modules/aframe/dist/aframe.js"></script>
</head>

<body>

<a-scene id="photosphere">

  <a-assets>
    <img id="china_texture" src="/assets/china-pattern-design.jpg">
  </a-assets>

  <a-camera position="0 1.8 4">
    <a-cursor visible="true" scale="2" color="#4CC3D9" offset="2" maxdistance="100" opacity="0.5"></a-cursor>
  </a-camera>

  <!--<a-sky src={{src}}></a-sky>-->
  <a-sphere material="src: url({{src}}); side:back;" radius=5000 rotation="0 {{rotation}} 0"></a-sphere>

  <a-box id="portkey" position="0 -2 0" width="1" height="1" depth="1" color="gray" src="#china_texture"></a-box>

</a-scene>

<script>

  function exitPhotosphere(e) {
    {{#if tour_id}}
      location.assign('/' + "{{tour_id}}");
    {{else}}
      location.assign('/');
    {{/if}}
  }

  document.querySelector("#portkey").addEventListener("click", exitPhotosphere);

</script>

</body>
</html>
